.App {
    text-align: center;
}

li {
    list-style-type: none;
}

.InputBox {
    width: 20%;
    margin-right: 5px;
}

.StartDate {
    margin-right: 10px;
}

.EndDate {
    margin-right: 10px;
}

.ListItem1 {
    padding-bottom: 10px;
}

.ListItem2 {
    padding-bottom: 10px;
}

.ListItem4 {
    padding-right: 10px;
}

.react-datepicker-popper {
    z-index: 999;
}

.AddEventButton {
    margin-top: 10px;
}

.CalendarContainer {
    padding-bottom: 3%
}

.Calendar {
    height: 800px;
    margin: 50px;
}

.rbc-toolbar-label {
    font-size: xx-large;
    font-weight: bold;
}